/* Estilos generales */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #F8FBF8;
}
/* Estilos para el div de la animación */
video{
    width: 100vw;
    height: 100vh;
    display: block;
}
/* Menu */
.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    position: fixed;
    top: 0;
    right: 0; 
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #F8FBF8, #9AD1C5);
    transform: translateX(150%);
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 3;
  }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    }
/* Estilos header generales */
header{
    background: linear-gradient(to top, #F8FBF8, #9AD1C5);
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
#enlaceLogoNav{
    text-decoration: none;
}
#enlaceLogoNav img{
    height: 8vh;
    mix-blend-mode: multiply;
}

#menu {
    display: flex;
    gap: 2em;
    align-items: start;
    list-style-type: none;
}

#menu li {
    padding: 6px 0;
}

#menu li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

#menu li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #29AC86;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#menu li a:hover {
    color: #2E8B8B;
}

#menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: start;
}

/* Estilos main generales */
main{
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#imagenPrincipal{
    text-align: center;
    width: 100%;
    height: auto;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
#imagenPrincipal img{
    width: 100%;
    margin: auto;
}
.contenedorPrincipal{
    padding: 1em;
}
/* Estilos imagenes carrusel */
#carouselExampleSlidesOnly{
    margin: auto;
    width: 100%;
    filter: drop-shadow(0 0 0.75rem #29AC86);
}
.carousel-item img{
    width: 100%;
    height: 60vw;
}
/* Contenedor para el contenido principal general */
#contenedorContenidoPrincipal{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    text-align: center;
    row-gap: 2vh;
    padding: 2vw;
}

/* Contenedores para el contenido */
.contenidoPrincipal{
    grid-column: 1/4;
    grid-row: auto;
    display: flex;
}
#divCont2{
    flex-direction: row-reverse;
}
.contenidoPrincipal p{
    justify-self: center;
    font-size: 4vw;
    text-align: left;
}

/* Imagenes de los contenidos principaes */
.imagenContenido img{
    width:40vw;
    height: 25vw;
    animation-name: fadeIn;
    animation-duration: 1s;
    border-radius: 5px;
    animation-timing-function: ease-in;
    box-shadow: #29AC86 0 0 0.75rem;
}
#Olatz{
    width:40vw;
    height: auto;
}

/* Primer contenido */
#imgCont1{
    float: right;
    margin: 0 0 2vw 3vw;
}
#contenido1 {
    flex-grow: 1;
}
#contenido1 h3{
    font-size: 5vw;
    text-align: left;
    border-bottom: #2E8B8B solid 2px;
}

/* Segundo contenido */
#imgCont2{
    float: left;
    margin: 0 4vw 2vw 0;
}
#contenido2 {
    flex-grow: 1;
}
#contenido2 h3{
    font-size: 5vw;
    text-align: right;
    border-bottom: #2E8B8B solid 2px;
}

/* Estilo de las tarjetas de información giratorias */
.tarjetas{
    grid-column: 1/4;
    display:flex;
    margin: 2vh;
}
.tarjetas h3{
    font-size: 3vw;
    text-align: center;
}
.tarjeta {
    width: 40vw;
    height: 54vw;
    perspective: 1000px;
    filter: drop-shadow(0 0 0.75rem #29AC86);
    margin: 6vw;
}
.InfoMoviles{
    font-size: 2vw;
}
.tarjeta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    color: white;
}

/* Gira la tarjeta al hacer hover */
.tarjeta:hover .tarjeta-inner {
    transform: rotateY(180deg);
}

/* Cara frontal */
.tarjeta-delante, .tarjeta-detras {
    position: absolute;
    width: 110%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

/* Estilo para ambas caras */
.tarjeta-detras {
    text-align: left;
    padding: 1em;
    box-shadow: 1px 1px 4px 4px #29AC86;
    filter: none;
    transform: rotateY(180deg);
    color: black;
    font-size: 3vw;
}
.tarjeta-delante{
    flex-direction: column;
    padding-top: 1em;
}
.tarjeta-delante h3{
    filter: drop-shadow(2px 2px 2px black);
}
.tarjeta-delante p{
    filter: drop-shadow(2px 2px 2px black);
}

#tarjetaConsultas .tarjeta-delante{
    background-image: url(../RecursosAudiovisuales/Images/futuro-de-la-fisioterapia-jfisio.webp);
    background-size: cover;
}
#tarjetaInstalaciones .tarjeta-delante{
    background-image: url(../RecursosAudiovisuales/Images/Taller_Vertical.webp);
    background-size: cover;
}


/* Estilo para botones de redes sociales */
#instagram{
    position: fixed;
    bottom: 1px;
    right: 10px;
    z-index: 1000;
}
/* Estilos footer generales */
footer{
    margin-top: auto;
    background: black;
    padding: 1vw;
    display: flex;
    align-items: center;
    color: white;
}
/* Estilo datos footer */
.contenidoFooter{
    width: 100%;
    height: 100%;
}
#footerData{
    width: 100%;
    height: 100%;
}
#contenedorMapa{
    margin: auto;
    width: 60%;
    grid-column: 2/3;
    grid-row: 1;
}
#tablaFooter{
    grid-column: 1;
    width: 40vw;
    border-collapse: collapse;
    margin: auto;
}
#tablaFooter td {
    vertical-align: top;
    padding: 1vw 0;
}

@media (min-width: 768px){

    /* Estilos main generales */
    .contenedorPrincipal{
        padding: 2em;
    }
    #imagenPrincipal{
        text-align: center;
        width: 100%;
        height: auto;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
    #imagenPrincipal img{
        margin: auto;
    }
    /* Estilos imagenes carrusel */
    #carouselExampleSlidesOnly{
        margin: auto;
        width: 60vw;
        filter: drop-shadow(0 0 0.75rem #29AC86);
    }
    .carousel-item img{
        height: 40vw;
    }
    /* Contenedor para el contenido principal general */
    #contenedorContenidoPrincipal{
        margin-top: 4vh;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;
        text-align: center;
        row-gap: 2vh;
    }

    /* Contenedores para el contenido */
    .contenidoPrincipal{
        grid-column: 1/4;
        grid-row: auto;
        display: flex;
    }
    .contenidoPrincipal p{
        justify-self: center;
        font-size: 2vw;
        text-align: left;
    }
    
    /* Imagenes de los contenidos principaes */
    .imagenContenido img{
        width:40vw;
        height: 28vw;
        animation-name: fadeIn;
        animation-duration: 1s;
        border-radius: 5px;
        animation-timing-function: ease-in;
        box-shadow: #29AC86 0 0 0.75rem;
    }
    /* Primer contenido */
    #contenido1 h3{
        grid-column: 1/4;
        font-size: 3vw;
        text-align: left;
        border-bottom: #2E8B8B solid 2px;
    }
    
    /* Segundo contenido */
    #contenido2 h3{
        grid-column: 1/4;
        font-size: 3vw;
        text-align: right;
        border-bottom: #2E8B8B solid 2px;
    }

    /* Estilo de las tarjetas de información giratorias */
    .tarjetas{
        grid-column: 1/4;
        display:flex;
        justify-content: space-around;
        margin: 4vh;
    }
    .tarjeta {
        width: 25vw;
        height: 40vh;
        perspective: 1000px;
        filter: drop-shadow(0 0 0.75rem #29AC86);
    }
    
    .tarjeta-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        color: white;
    }
    
    /* Gira la tarjeta al hacer hover */
    .tarjeta:hover .tarjeta-inner {
        transform: rotateY(180deg);
    }
    
    /* Cara frontal */
    .tarjeta-delante, .tarjeta-detras {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 2vw;
    }
    
    /* Estilo para ambas caras */
    .tarjeta-detras {
        padding: 1em;
        box-shadow: 1px 1px 4px 4px #29AC86;
        filter: none;
        transform: rotateY(180deg);
        color: black;
    }
    .tarjeta-delante{
        flex-direction: column;
        padding-top: 1em;
    }
    .tarjeta-delante h3{
        filter: drop-shadow(2px 2px 2px black);
    }
    .tarjeta-delante p{
        filter: drop-shadow(2px 2px 2px black);
    }

    #tarjetaConsultas .tarjeta-delante{
        background-image: url(../RecursosAudiovisuales/Images/futuro-de-la-fisioterapia-jfisio.webp);
        background-size: cover;
    }
    #tarjetaInstalaciones .tarjeta-delante{
        background-image: url(../RecursosAudiovisuales/Images/Taller_Vertical.webp);
        background-size: cover;
    }
    
    /* Estilos footer generales */
    footer{
        margin-top: auto;
        background: black;
        padding: 1vw;
        display: flex;
        align-items: center;
        color: white;
    }
    /* Estilos footer */
    .contenidoFooter{
        width: 100%;
        height: 100%;
    }
    #footerData{
        display: grid;
        grid-template-columns: 50% 25% 25%;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    #contenedorMapa{
        margin: auto;
        width: 60%;
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #tablaFooter{
        grid-column: 1;
        width: 40vw;
        border-collapse: collapse;
        margin: auto;
    }
    #tablaFooter td {
        padding: 1vw 0;
    }
}

@media (min-width:1030px){
    /* Estilos para el div de la animación */
    video{
        width: 100vw;
        height: 100vh;
        object-fit: cover; /* ¡BOOM! */
        display: block;
    }
    /* Quitar hamburguesa */
    .navbar {
        width: 100%;
    }
    
    .nav-container {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: auto;
    }
    .hamburger-lines,
    .checkbox {
        display: none !important;
    }

    .navbar .menu-items {
        position: static !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end;
        align-items: center;
        height: auto !important;
        width: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        background: none !important;
        transform: none !important;
        z-index: auto !important;
      }
      ul{
        display: flex;
        flex-direction: row;
        gap: 2em;
    }
   
    /* Estilos main generales */
    main{
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .contenedorPrincipal{
        padding: 2em;
    }
    #imagenPrincipal{
        text-align: center;
        width: 100%;
        height: auto;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
    #imagenPrincipal img{
        margin: auto;
    }
    /* Estilos imagenes carrusel */
    #carouselExampleSlidesOnly{
        width: 40vw;
        filter: drop-shadow(0 0 0.75rem #29AC86);
    }
    .carousel-item img{
        height: 70vh;
    }
  /* Contenedor para el contenido principal general */
  #contenedorContenidoPrincipal{
        margin-top: 4vh;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;
        text-align: center;
        row-gap: 2vh;
    }

    /* Contenedores para el contenido */
    .contenidoPrincipal{
        grid-column: 1/4;
        grid-row: auto;
        display: flex;
    }
    .contenidoPrincipal p{
        justify-self: center;
        font-size: 3vh;
        text-align: left;
    }

    /* Imagenes de los contenidos principaes */
    .imagenContenido img{
        width:80%;
        height: 90%;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        border-radius: 5px;
        box-shadow: #29AC86 0 0 0.75rem;
    }
    #Olatz{
        width: 50%;
    }
    /* Primer contenido */
    #contenido1 {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto 1fr;
        gap: 2vw;
    }
    #imgCont1{
        margin: 0;
        grid-column: 3/4;
        grid-row: 2;
    }
    #contenido1 h3{
        grid-column: 1/4;
        grid-row: 1;
        font-size: 6vh;
        text-align: left;
        border-bottom: #2E8B8B solid 2px;
    }
    #contenido1 p{
        grid-column: 1 / 3;
        grid-row: 2;
    }

    /* Segundo contenido */
    #contenido2 {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto 1fr;
        gap: 2vw;
    }
    #imgCont2{
        margin: 0;
        align-content: center;
        grid-column: 1/2;
        grid-row: 2;
    }
    #contenido2 h3{
        grid-column: 1/4;
        font-size: 3vw;
        text-align: right;
        border-bottom: #2E8B8B solid 2px;
    }
    #contenido2 p{
        grid-column: 2 / 4;
        grid-row: 2;
    }

    /* Estilo de las tarjetas de información giratorias */
    .tarjetas{
        grid-column: 1/4;
        display:flex;
        justify-content: space-around;
        margin: 4vh;
    }
    .tarjeta {
        width: 30%;
        height: 40vw;
        perspective: 1000px;
        filter: drop-shadow(0 0 0.75rem #29AC86);
    }

    .tarjeta-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        color: white;
    }

    /* Gira la tarjeta al hacer hover */
    .tarjeta:hover .tarjeta-inner {
        transform: rotateY(180deg);
    }

    /* Cara frontal */
    .tarjeta-delante, .tarjeta-detras {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 2vw;
    }

    /* Estilo para ambas caras */
    .tarjeta-detras {
        padding: 1em;
        box-shadow: 1px 1px 4px 4px #29AC86;
        filter: none;
        transform: rotateY(180deg);
        color: black;
    }
    .tarjeta-delante{
        flex-direction: column;
        font-size: 3vw;
        padding-top: 1em;
    }

    #tarjetaConsultas .tarjeta-delante{
        background-image: url(../RecursosAudiovisuales/Images/futuro-de-la-fisioterapia-jfisio.webp);
        background-size: cover;
    }
    #tarjetaInstalaciones .tarjeta-delante{
        background-image: url(../RecursosAudiovisuales/Images/Taller_Vertical.webp);
        background-size: cover;
    }   


    /* Estilos footer generales */
    footer{
        margin-top: auto;
        background: black;
        padding: 1vw;
        display: flex;
        align-items: center;
        color: white;
    }
    /* Estilo datos footer */
    .contenidoFooter{
        width: 100%;
        height: 100%;
    }
    #footerData{
        display: grid;
        grid-template-columns: 50% 25% 25%;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    #contenedorMapa{
        width: 100%;
        grid-column: 2/3;
        grid-row: 1;
    }
    #tablaFooter{
        grid-column: 1;
        width: 40vw;
        border-collapse: collapse;
        margin: auto;
    }
    #tablaFooter td {
        padding: 1vh 0;
    }
}